
:root {
    font-family: 'Inter';
}

*, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.notesList {
    width: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.noteListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.noteListItem:hover {
    background-color: rgb(224, 243, 254);
    border: 1px solid rgb(224, 243, 254);
}

.noteListItem-title {
    font-weight: 500;
}

.noteListItem-date {
    font-size: 12px;
}

